@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300')

$main-color: #FFF
$second-color: #FFDB00
$third-color: #FFF0A6

$main-bg-color: #101b24
$second-bg-color: rgba(16,26,36,0.75)
$third-bg-color: rgba(255,255,255,0.1)
@mixin button-bg-color
  background: linear-gradient(to right, #101b24 0%, #101b24 50%, $second-bg-color 50%, $second-bg-color 100%)
  background-position: 100% 100%
  background-size: 200% 100%
  transition: background-position 500ms ease-in-out

$header_stack: 'Open Sans Condensed', sans-serif
$body_stack: 'Open Sans', sans-serif

@mixin grad_body
  background: #575f65
  background: -moz-linear-gradient(left, #575f65 0%, #101b24 100%)
  background: -webkit-linear-gradient(left, #575f65 0%,#101b24 100%)
  background: linear-gradient(to right, #575f65 0%,#101b24 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575f65', endColorstr='#101b24',GradientType=1 )

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $header_stack
  color: #FFF
  font-weight: 800

h1
  font-size: 250%

h2
  font-size: 225%

h3
  font-size: 200%

h4
  font-size: 175%

h5
  font-size: 150%

h6
  font-size: 125%

p,
a,
li
  font-family: $body_stack
  color: #FFF

li
  list-style: none

a
  text-decoration: none
/* containers */

html,
body
  margin: 0
  padding: 0
  font-size: 14px
  background-color: $main-bg-color
  background-image: url('/siege_site/assets/full/r6-siege-bg.jpg')
  background-size: cover
  background-position: center
  background-attachment: fixed
  color: #FFF

/* generic containers */

/* span containers */
.container
  display: flex
  justify-content: space-between
  max-width: 1024px
  width: 100%
  margin: auto

.flex_column
  flex-direction: column

.flex_row
  flex-direction: row
  display: flex

.span12,
.span10,
.span9,
.span8,
.span6,
.span4,
.span3,
.span2,
.span1
  margin: auto
  justify-content: space-between

.span12
  width: 100%

.span11
  width: 91.3%

.span10
  width: 83.4%

.span9
  width: 75%

.span8
  width: 66.6%

.span7
  width: 58.3%

.span6
  width: 50%

.span6-p
  width: 45%
  padding: 2.5%

.span5
  width: 41.6%

.span4
  width: 33.3%

.span3
  width: 25%

.span3-m
  width: 23%
  margin: 1%
  display: inline-block

.span2
  width: 16.6%

.span1
  width: 8.3%

.border-top
  border-top: 1px solid $main-bg-color

.main-button
  width: 25%
  height: 40px
  margin: 20px auto
  border: 2px solid #E1E1E1
  display: flex
  justify-content: space-around
  align-items: center
  @include button-bg-color
  &:hover
    background-position: 0 0
nav
  background-color: $second-bg-color
  min-height: 100px
  height: auto
  width: 100%
  justify-content: space-between
  a.span2
    margin: 0
  ul
    justify-content: space-between
    margin: 2%
    li
      width: auto
      margin: auto 10px
      a
        font-family: $header_stack
        font-weight: 800
        font-size: 150%
/* homepage */

.map_container
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  min-height: 200px
  max-height: 200px
  overflow: hidden
  position: relative
  .map
    width: auto
    height: 200px
    position: absolute
    top: 0
    left: 0
    transition: all 250ms ease-in-out
    -moz-transition: all 250ms ease-in-out
    -webkit-transition: all 250ms ease-in-out
    -o-transition: all 250ms ease-in-out
  a
    height: 35%
    width: 100%
    text-decoration: none
    display: flex
    justify-content: flex-end
    align-self: flex-end
    position: absolute
    z-index: 1
    top: 0
    transition: all 250ms ease-in-out
    -moz-transition: all 250ms ease-in-out
    -webkit-transition: all 250ms ease-in-out
    -o-transition: all 250ms ease-in-out
  .overlay
    width: 100%
    background-color: $second-bg-color
    h4
      margin: 15px
  &:hover
    .map
      height: 250px
      left: -25px
      transition: all 250ms ease-in-out
      -moz-transition: all 250ms ease-in-out
      -webkit-transition: all 250ms ease-in-out
      -o-transition: all 250ms ease-in-out
    a
      height: 200px
      transition: all 250ms ease-in-out
      -moz-transition: all 250ms ease-in-out
      -webkit-transition: all 250ms ease-in-out
      -o-transition: all 250ms ease-in-out

/* Operator homepage */

/* container backgrounds */
.korea
  background-image: url('/siege_site/assets/operators/bg/korea.jpg')

.poland
  background-image: url('/siege_site/assets/operators/bg/poland.jpg')

.hongkong
  background-image: url('/siege_site/assets/operators/bg/hongkong.jpg')

.spain
  background-image: url('/siege_site/assets/operators/bg/spain.jpg')

.japan
  background-image: url('/siege_site/assets/operators/bg/japan.jpg')

.brazil
  background-image: url('/siege_site/assets/operators/bg/brazil.jpg')

.seals
  background-image: url('/siege_site/assets/operators/bg/seals.jpg')

.canada
  background-image: url('/siege_site/assets/operators/bg/canada.jpg')

.british
  background-image: url('/siege_site/assets/operators/bg/sas.jpg')

.swat
  background-image: url('/siege_site/assets/operators/bg/fbi.jpg')

.operator_container
  background-repeat: no-repeat
  background-size: cover
  background-position: top
  min-height: 200px
  max-height: 200px
  overflow: hidden
  position: relative
  .operator
    width: auto
    height: 200px
    position: absolute
    top: 0
    left: 0
    transition: all 250ms ease-in-out
    -moz-transition: all 250ms ease-in-out
    -webkit-transition: all 250ms ease-in-out
    -o-transition: all 250ms ease-in-out
  a
    height: 35%
    width: 100%
    text-decoration: none
    display: flex
    justify-content: flex-end
    align-self: flex-end
    position: absolute
    z-index: 1
    top: 0
    transition: all 250ms ease-in-out
    -moz-transition: all 250ms ease-in-out
    -webkit-transition: all 250ms ease-in-out
    -o-transition: all 250ms ease-in-out
  .overlay
    width: 100%
    background-color: $second-bg-color
    h4
      margin: 15px
  &:hover
    .operator
      height: 250px
      left: -25px
      transition: all 250ms ease-in-out
      -moz-transition: all 250ms ease-in-out
      -webkit-transition: all 250ms ease-in-out
      -o-transition: all 250ms ease-in-out
    a
      height: 200px
      transition: all 250ms ease-in-out
      -moz-transition: all 250ms ease-in-out
      -webkit-transition: all 250ms ease-in-out
      -o-transition: all 250ms ease-in-out

/* image stylings */
.header_icon
  width: 80%
  margin: 5%

.floorplan
  width: 95%
  max-width: 1024px
  height: auto
  border: 3px solid #E1E1E1
  margin: auto 2.5%

img.weapon
  width: 95%
  max-width: 1024px
  height: auto
  border: 3px solid #E1E1E1
  margin: auto 2.5%

/* map pages */
.header_image
  width: 100%
  height: 300px
  background-position: center
  background-repeat: none
  background-size: cover

.map_info
  background-color: $second-bg-color
  min-height: 300px
  margin-top: -100px

.map_header
  display: flex
  justify-content: space-between
  width: 90%
  margin: 1% 5%

.map_body
  width: 90%
  margin: 1% 5%
  .dropdown
    border: 1px solid $second-color
    margin: 2% auto
    background-color: $main-bg-color
  .dropdown_header
    display: flex
    justify-content: space-between
    width: 95%
    padding: 0 2.5%
    line-height: 20px
    @include grad_body
    cursor: pointer
    .dropper
    h1
      color: $second-color
  .floors
    min-height: 60px
    .info_holder
    .floor
      width: 95%
      margin: auto 2.5%
  .tips
    .tips_holder
      > h2
        margin: 2.5%
    .tip
      width: 95%
      margin: 2.5%
      h2
        margin: auto 2.5%
      ul li
        margin: 1% auto

/* operator pages */
.operator_header_image
  width: auto
  height: 750px
  background-position: center
  background-repeat: none
  background-size: contain
  background-repeat: no-repeat

.op_info
  background-color: $second-bg-color
  min-height: 300px
  margin-top: -100px

.op_header
  display: flex
  justify-content: space-between
  width: 90%
  margin: 1% 5%

.op_body
  width: 90%
  margin: 1% 5%
  .dropdown
    border: 1px solid $second-color
    margin: 2% auto
    background-color: $main-bg-color
  .dropdown_header
    display: flex
    justify-content: space-between
    width: 95%
    padding: 0 2.5%
    line-height: 20px
    @include grad_body
    cursor: pointer
    .dropper
    h1
      color: $second-color
  .abilities
    min-height: 60px
    .info_holder
      width: 95%
      margin: auto 2.5%
    .ability
      width: 95%
      margin: auto 2.5%
  .weapons
    .weapons_holder
      > h2
        margin: 2.5%
    .weapons
      width: 95%
      margin: 2.5%
      h2
        margin: auto 2.5%
      ul li
        margin: 1% auto
    .weapon_info
      display: flex
      flex-direction: row
      h6
        margin: 10px auto
