{
    "extends": "airbnb-base",
    "rules": {
        "space-in-parens": "off",
        "space-before-parens": "off",
        "no-plusplus": "off",
        "no-trailing-spaces": [ "error", { "skipBlankLines": true, "ignoreComments": true } ],
        "no-multi-spaces": ["error", { "ignoreEOLComments": true } ]
    },
    "globals": {
        "document": false,
        "window": false
    },
    "env": {
        "jquery": true,
        "es6": true,
        "node": true,
        "browser": true
    }
}
