.center {
    margin: 0 auto;
}

.styled {
    width: 100%;
    margin: 0 auto;
    padding: $global-padding * 2;
    background-color: $second-bg-color;
    transition: all 250ms linear;
    opacity: 0;
    flex-wrap: wrap;
    top: -1000px;
    z-index: -20;
    position: relative;

    &.hidden {
        display: none;
    }

    &.show {
        top: 0;
        opacity: 1;
        display: flex;
        transition: all 250ms linear;
        z-index: 10;

        &:after {
            background: url("../images/r6-row-shape.png") 50% 0 no-repeat;
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
        }
    }
}