.featured {
    display: flex;
    padding: $global-padding;

    .map_container {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 200px;
        max-height: 200px;
        overflow: hidden;
        position: relative;
      
        .map {
          width: auto;
          height: 200px;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 250ms ease-in-out;
          -moz-transition: all 250ms ease-in-out;
          -webkit-transition: all 250ms ease-in-out;
          -o-transition: all 250ms ease-in-out;
        }
      
        a {
          height: 35%;
          width: 100%;
          text-decoration: none;
          display: flex;
          justify-content: flex-end;
          align-self: flex-end;
          position: absolute;
          z-index: 1;
          top: 0;
          transition: all 250ms ease-in-out;
          -moz-transition: all 250ms ease-in-out;
          -webkit-transition: all 250ms ease-in-out;
          -o-transition: all 250ms ease-in-out;
        }
      
        .overlay {
          width: 100%;
          background-color: $second-bg-color;
      
          h4 {
            margin: 15px;
          }
        }
      
        &:hover {
          .map {
            height: 250px;
            left: -25px;
            transition: all 250ms ease-in-out;
            -moz-transition: all 250ms ease-in-out;
            -webkit-transition: all 250ms ease-in-out;
            -o-transition: all 250ms ease-in-out;
          }
      
          a {
            height: 200px;
            transition: all 250ms ease-in-out;
            -moz-transition: all 250ms ease-in-out;
            -webkit-transition: all 250ms ease-in-out;
            -o-transition: all 250ms ease-in-out;
          }
        }
    }
}

.recent_operators {
  height: 80vh;
  margin-top: 10vh;

  .operator_container{
    
    &:nth-child(1) {
    margin-left: 10%;
    z-index:3;
    }

    &::nth-child(2) {
      margin-right: 10%;
      z-index: 2;
    }
  }

  img.post {
    position: absolute;
    bottom: 0;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.65));
  }
}

.current_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background: url(../../../../public/images/grim_sky_bg.jpg) no-repeat;
  // background-position: center;
  // background-size: 100%;
  // background-attachment: fixed;
  z-index: 1;
}