.sidebar-container {
    position: fixed ;
    top: 0;
    transition: top 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1000;

    &.top {
        top: -3000px;
        transition: top 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.title-bar {
    max-height: 5vh;
    display: flex;
    width: 100%;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    z-index: 1002;
    transition: all 250ms ease-in-out;
    @include grad-main;

    &.scrolled {
        min-height: 5vh;
        height: 50px;
    }

    & > a {
        margin: $global-margin;
    }

    button.menu {
        background: transparent;
        height: 50%;
        padding: $global-padding;
        margin: 0;
        width: 105px;
        filter: drop-shadow(-2px 2px 0px rgba(0,0,0,0.35));
        font-size: 2rem;
        color: $white;
        z-index: 1001;
        transition: all 250ms ease-in-out;

        &.scrolled {
            font-size: 1.5rem;
        }
        
        i {
            margin: 0 auto;
        }
    }
}

.nav {
    position: relative;
    height: 100%;
    width: 100%;

    .menu-toggle {
        position: absolute;
        left: -4rem;
        top: 8vh;
        width: 4rem;
        height: 4rem;
        padding: $global-padding / 2;
        cursor: pointer;
        
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .fixed {
        position: relative;
        height: 100vh;
        max-height: 100vh;
        width: 100%;
        padding: 0;
        background: rgba(0,0,0,0.65);
        box-shadow: $box-shadow;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .logo {
            margin-top: $global-margin;
        }

        .menu-container {
            height: 100%;
            width: 100%;
            margin: $global-margin 0;
            justify-content: space-between;
        }

        ul {
            margin: calc($global-margin * 3) 0;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                border-left: 2px solid transparent;
                padding: 20px 0;
                text-align: center;

                a {
                    font-family: $header-stack;
                    font-size: 300%;
                    font-weight: 500;
                }

                &.active {
                    border-left-color: $main-color;
                    background-color: $second-bg-color;

                    a {
                        background: transparent;
                        color: $main-color;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

aside {
    .sidebar {
        position: fixed;
        z-index: 100;
        left: 0;
        bottom: 0;

        .rail {
            position: relative;
            max-height: 100vh;
            width: 100%;

            .bar {
                padding: $global-padding;
                writing-mode: vertical-lr;
                text-orientation: mixed;
                cursor: pointer;

                &.bar_weapon {
                    background-color: $active-color;
                }

                &.bar_operator {
                    background-color: $second-bg-color;
                }
            }

            .to_top {
                position: fixed;
                right: 0;
                bottom: 0;
                margin: 0 auto;
                padding: $global-padding $global-padding * 2;
                font-size: 3rem;
                z-index: 1000;
            }
        }
    }
}