.operator_container {
  position: relative;
  box-shadow:inset 0px 0px 0px 2px transparent;
  margin: 0 auto !important;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    z-index: 20;
    background: radial-gradient(ellipse at bottom, rgba(0,0,0,0.65) 0%, transparent 70%);
  }

  .operator_info {
    position: relative;

    .button-group {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 21
    }
  }

  .header.row {
    background-color: $main-bg-color;
    cursor: default;
  }

  p {
    margin: $global-margin;
  }

  a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    i.fi-* {
      margin-left: 10%;
      font-size: 2rem !important;
    }
  }
}