.operator_container {
  position: relative;
  box-shadow:inset 0px 0px 0px 2px transparent;
  margin: 0 auto !important;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    z-index: 20;
    background: radial-gradient(ellipse at bottom, rgba(0,0,0,0.65) 0%, transparent 70%);
  }

  .operator_info {
    position: relative;

    .button-group {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 21
    }
  }

  .header.row {
    background-color: $main-bg-color;
    cursor: default;
  }

  p {
    margin: $global-margin;
  }

  a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    i.fi-* {
      margin-left: 10%;
      font-size: 2rem !important;
    }
  }
}

.operator {
  .styled {
    &.hidden {
      top: 400%;
      opacity: 0;
      transition: all 500ms linear;
    }
    &.show {
      top: 0;
      opacity: 1;
      transition: all 500ms linear;
    }
  }
}
.tab-holder {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 8.33%;
  background-color: $second-bg-color;
  z-index: 11;

  .tab {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $global-padding * 2 $global-padding;
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:after {
      background: url('../images/r6-row-shape.png') 50% 0 no-repeat;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
    }

    &.selected {
      box-shadow: 0px -3px 2px 3px rgba(0,0,0,0.35);
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0px -3px 2px 3px rgba(0,0,0,0.35); 
      z-index: 5;
      transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

.operator-image-container {
  min-height: 280px;
  margin-bottom: $global-margin;
}

#operator-info {
  .header_small {
    margin: 0;
    padding: $global-padding;
  }
}
#weapon-info {
  > div.large-6 {
    padding: $global-padding;
  }
}

.info {
  @extend .info;

  position: relative;
  top: 100%;

  &.show {
    top: 0%;
  }
}