
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #36a9e0;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$main-color: #d1f5ff;
$second-color: #e69c24;
$third-color: #3b4650;

$active-color: #009fff;

$success: #8ed378;
$alert: #f9f871;
$error: #b80c09;

$main-bg-color: #101b24;
$second-bg-color: rgba(16, 26, 36, 0.75);
$third-bg-color: rgba(255, 255, 255, 0.1);

$header_stack: "Open Sans Condensed", sans-serif;
$body_stack: "Open Sans", sans-serif;
